body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

#participants-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: #fff;
}
#participants-table th, #participants-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#participants-table th {
    background: #35424a;
    color: #fff;
}
#search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}